<div class="container-fluid p-5">
  <h1 class="d-flex display-4">Codding</h1>
  <hr class="my-4">
  <p>I have been interested in IT for over a year. I
    have good knowledge of Front-End web development.
    I study at OKTEN School where
    I learn all modern front-end technologies</p>

  <h3>Skills</h3>
  <ul class="list-group">
    <li class="list-group-item">HTML, CSS</li>
    <li class="list-group-item">JavaScript</li>
    <li class="list-group-item">React</li>
    <li class="list-group-item">Angular</li>
  </ul>


</div>

